body {
  margin: 0;
  font-family: "Playfair Display", serif;
}

.logo{
    color: rgb(243, 187, 150);
    text-shadow: 3px 5px 8px rgb(255, 255, 255);
}


.btn{
  border: 1px solid rgb(33, 132, 136);
  font-weight: 500;
  color:   rgb(5, 5, 5);
}

.btn:hover{
  color: white;
  background-color: rgb(33, 132, 136);
  border: none;
  margin-left: 2px;
  
}

.title{
  color: rgb(33, 132, 136);
  text-shadow: 2px 5Px 8px rgb(90, 58, 58);
}

.food-cat{
  color: brown;
  text-shadow: 2px 5Px 8px rgb(90, 58, 58);
}

.card-title{
  color: rgb(33, 132, 136);
}
.underline{
  border-bottom: 2px solid brown;
  width: 1200px;
}

.food-underline{
   border-bottom: 2px solid brown;
  width: 80%;
}


.img{
  height: 200px;
  width: 400px;
  border-radius: 5px;
}

.price{
  color: rgb(33, 132, 136);
  font-weight: bold;
}